* {
    font-family: Cambria;
}
header,footer {
    background-color: #829eb9;
    color: white;
    text-align: center;
    padding: 10px;
}
#left,#right {
    background-color: #829eb9;
    height: 400px;
    width: 25%;
    padding-top: 100px;
    float: left;
}
#middle {
    background-color: #e0e9f1;
    height: 400px;
    width: 50%;
    text-align: center;
    padding-top: 100px;
    float: left;
}
footer {
    clear: both;
}
table {
    border: 1px solid dimgray;
    margin: auto;
    border-collapse: collapse;
}
td,th {
    border: 1px solid dimgray;
    border-collapse: collapse;
}
td:hover {
    background-color: steelblue;
    color: white;
}
img {
    width: 100%;
    border-radius: 20px;
}